* {
    background-color: #6FFFE9;
    font-family: monospace;
}

.ant-anchor-link-title {
    font-size: 28px;
    text-align: end;
    padding-right: 20px;
}

.projectBox {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}